
# Accessing your data from the database
- Please follow the steps in this notebook to have access to the dataset.
- If you encounter any challenges please leave an issue on this repo here on GitHub

Steps to take to use environment variables as opposed to credentials literals

1. Install pyodbc - a package for creating connection strings to your remote database
2. Install python-dotenv - a package for creating environment variables that will help you hide sensitve configuration informantion such as database credentials and API keys
3. Import all the necessary libraies
    - A. pyodbc (for creating a connection)
    - B. python-dotenv (loading environment variables)
    - C. os (for accessing the environement variables using the load_env function. This is not needed if you use the dotenv_values function instead)
4. Now create a file called .env in the root of your project folder (Note, the file name begins with a dot)
5. In the .env file, put all your sensitive information like server name, database name, username, and password
# Example

- SERVER='server_name_here'
- DATABASE='database_name_here'
- USERNAME='username_here'
- PASSWORD='password_here'
6. Next create a .gitignore file (a new file with the name '.gitignore'. Note that gitignore file names begin with a dot)
7. Open the .gitignore file and type in the name of the .env file we just create like this "/.env". This will prevent git from tracking that file. Essesntially any file name in the gitignore file will be ignored by git and won't be checked into the repository
8. Create a connection by accessing your connection string with your defined environment variables

Step 1 and 2 - Install pyodbc and python-dotenv

In [25]:
# installations
import pip
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

Step 3 - Import all the necessary packages

In [26]:
# load packages
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Step 4 - Create your .env file in the root of your project

Step 5 - In the .env file, put all your sensitive information like server name, password etc

Step 6 & 7 - Next create a .gitignore file and type '/.env' file we just created. This will prevent git from tracking that file.

Step 8 - Create a connection by accessing your connection string with your defined environment variables

In [27]:
# Load environment variables from .env file into a dictionary
environment_variables=dotenv_values('.env')

In [28]:
# Get the values for the credentials you set in the '.env' file
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
username=environment_variables.get("USERNAME")
password=environment_variables.get("PASSWORD")

In [29]:
# establish a connection to the SQL Server database using the specified parameters.
connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [30]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary
connection=pyodbc.connect(connection_string)

In [31]:
# fetch data from Server SQL database
query="Select * from dbo.LP1_startup_funding2021"
data2=pd.read_sql(query,connection)

In [32]:
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [33]:
# check shape of the data
data2.shape

(1209, 9)

In [34]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [35]:
data2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [36]:
# Define the file path to save the CSV file on your desktop
file_path = "C:/Users/user/Desktop/LP1/India-startup-ecosytem-analysis/Datasets/data2.csv"

In [37]:
# Save the data as a CSV file
data2.to_csv(file_path,  index=False)

In [38]:
# fetch second data from Server SQL database
query2="Select * from dbo.LP1_startup_funding2020"
data1=pd.read_sql(query2,connection)

In [39]:
data1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [40]:
# check data shape
data1.shape

(1055, 10)

In [41]:
# Define the file path to save the CSV file on your desktop
file_path = "C:/Users/user/Desktop/LP1/India-startup-ecosytem-analysis/Datasets/data1.csv"

In [42]:
# Save the data as a CSV file
data1.to_csv(file_path,  index=False)

In [44]:
# Close the database connection
connection.close()